
.products {
  background-color: #1f1f2f;
  transition: background-color 1s;

  &.green {
    background-color: rgb(236, 233, 44);
  }
  
  &__content {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
  }

  &__product {
    margin-bottom: 20px;
  }
}