.painting-card {
  max-width: 300px;
  line-height: 24px;

  .image {
    height: 300px;
    width: 300px;
  }

  .column {
    display: flex;
    justify-content: space-between;

    .information-of-painting {
      .painting-name {
        font-weight: 600;
      }

      .painting-author {
        font-weight: 400;
      }
    }

    .painting-price {
      color: rgb(19, 102, 137);
      font-size: 20px;
      font-weight: 300;
    }
  }
}

