<div class="gallery">

  <div class="filters" *ngIf="parameters">
    <div class="filter">
      <button mat-raised-button [matMenuTriggerFor]="genresPopup">Genres</button>
      <mat-menu #genresPopup>
        <div class="filter-popup" (click)="$event.stopPropagation()">
          <mat-checkbox *ngFor="let genre of genres" (change)="setSelectedGenres(genre)">
            {{genre}}
          </mat-checkbox>
        </div>
      </mat-menu>
    </div>

    <div class="filter">
      <button mat-raised-button [matMenuTriggerFor]="sizes">Sizes</button>
      <mat-menu #sizes>
        <div (click)="$event.stopPropagation()">
          <app-range [label]="'Wihth'" [placeholder1]="parameters.minWidth + 'cm'"
            [formControl1]="form.get('width_from')" [placeholder2]="parameters.maxWidth + 'cm'"
            [formControl2]="form.get('width_to')">
          </app-range>
        </div>
        <div (click)="$event.stopPropagation()">
          <app-range [label]="'Height'" [placeholder1]="parameters.minHeight + 'cm'"
            [formControl1]="form.get('height_from')" [placeholder2]="parameters.maxHeight + 'cm'"
            [formControl2]="form.get('height_to')">
          </app-range>
        </div>
      </mat-menu>
    </div>

    <div class="filter">
      <button mat-raised-button [matMenuTriggerFor]="price">Price</button>
      <mat-menu #price>
        <div (click)="$event.stopPropagation()">
          <app-range [label]="'Price'" [placeholder1]="parameters.minPrice + ' BYN'"
            [formControl1]="form.get('price_from')" [placeholder2]="parameters.maxPrice + ' BYN'"
            [formControl2]="form.get('price_to')">
          </app-range>
        </div>
      </mat-menu>
    </div>
    <div class="filter"><button mat-button (click)="getPaintings()">Apply</button></div>
    <div class="filter"><button mat-button (click)="clear()">Clear</button></div>


  </div>


  <div *ngIf="!loading">
    <div class="paintings">
      <div *ngFor="let painting of paintings">
        <div class="card">
          <app-painting-card [painting]="painting"></app-painting-card>
        </div>
      </div>
    </div>
  </div>
  <mat-paginator [length]="paintingsCount" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChange($event)">
  </mat-paginator>
  <div class="loader" *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</div>