.gallery {
  
  .paintings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1500px;
  
    .card {
      margin: 10px;
    }
  }
}

.filters {
  display: flex;
  margin-left: 50px;
  margin-top: 10px;

  .filter {
    margin-right: 16px;

  }

}
.filter-popup {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}




