.input-label {
  font-size: 10px;
  color:rgb(120, 126, 126);
  margin-left: 10px;
  margin-bottom: -10px;;
}

.range {
  display: flex;
  align-items: center;
}

.input-wrapper {
  max-width: 100px;
  overflow: hidden;
  margin: 0 10px;
}