<div class="header">
  <nav class="navigation">
    <div class="item" routerLink="gallery">Gallery</div>
    <!-- <div class="item" routerLink="personal-info">Personal info</div> -->
    <!-- <div class="item" routerLink="products">Products</div> -->
  </nav>
  <button mat-raised-button *ngIf="!contextService.getUser()" class="button" (click)="openLoginPopup()">
    Sign In / Sign Up
  </button>
  <button mat-button class="current-user" *ngIf="contextService.getUser()" [matMenuTriggerFor]="menu">
    {{getUserFullName()}}
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  <mat-menu #menu>
    <button mat-menu-item>
      <mat-icon>portrait</mat-icon>
      My profile
    </button>
    <button mat-menu-item *ngIf="contextService.getUser()?.role == 'Admin'" (click)="goToUsers()">
      <mat-icon>wc</mat-icon>
      Users
    </button>
    <button mat-menu-item *ngIf="contextService.getUser()?.role == 'Artist'">
      <mat-icon>add_photo_alternate</mat-icon>
      Add painting
    </button>
    <button mat-menu-item (click)="logOut()">
      <mat-icon>exit_to_app</mat-icon>
      Log out
    </button>
  </mat-menu>
</div>