.product-card {
  background-color: #28283d;
  position: relative;
  padding: 16px 16px 48px;

  .name {
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 4px;
  }

  .product-line {
    color: #5389c4;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .card {
    background-color: #2e2e4a;
    display: flex;
    align-items: center;
    padding: 0 8px;

    .buttons {
      display: flex;
      flex-direction: column;
      max-width: 256px;
      width: 100%;
      position: relative;
      max-width: 128px;

      .login {
        background-color: #2972c1;
        color: #fff;
        border-radius: 6px;
        font-size: 14px;
        height: 24px;
        width: 100%;
        font-weight: 400;
        text-align: center;
      }

      .register {
        text-align: center;
        color: #fff;
        font-size: 14px;
        height: 24px;
        width: 100%;
        font-weight: 400;
      }
    }
  }

  .more-information {

    .container {
      width: 100%;
      display: flex;
      
    }

    .features {
      display: flex;
      flex-direction: column;
      margin-left: 48px;
      min-width: 304px;

      .label {
        color: #5389c4;
        font-size: 18px;
      }
      .feature-name {
        color: #fff;
        font-size: 10px;
        line-height: 12px;
      }
    }
  }

  .characteristics {
    padding-top: 16px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

    &.small {
      .characteristic-label {
        font-size: 12px;
        line-height: 16px;
      }

      .characteristic-value {
        font-size: 18px;
        line-height: 26px;
      }
    }

    .characteristic {
      min-width: 104px;
      width: 50%;
      margin-bottom: 16px;

      &-label {
        color: #5389c4;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
      }

      &-value {
        color: #fff;
        font-size: 22px;
        line-height: 26px;
        font-weight: 300;
        text-align: center;
      }
    }
  }

  .toggle-button {
    color: #fff;
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    line-height: 12px;
    margin-bottom: 10px;
    margin-top: 12px;

    &.opened {
      &::after {
        transform: rotate(180deg);
      }
    }

    &::after {
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='12px' height='8px' viewBox='0 0 12 8' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EF9D0AF9C-6F62-4495-9686-2F40313619A8%3C/title%3E%3Cg id='Revised-Journey-Sprint' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='mq-products' transform='translate(-486.000000, -599.000000)' stroke='%23fff' stroke-width='2'%3E%3Cg id='product/card-light' transform='translate(296.000000, 352.000000)'%3E%3Cg id='product-card'%3E%3Cg id='more-information' transform='translate(56.000000, 243.000000)'%3E%3Cpolyline id='121212-chevron' transform='translate(140.193333, 8.103535) rotate(-270.000000) translate(-140.193333, -8.103535) ' points='137.693333 3.81173978 142.693333 8.10353525 137.693333 12.3953307'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      content: "";
      display: block;
      height: 8px;
      margin-left: 8px;
      transition: transform 0.5s;
      width: 12px;
    }
  }
}
