<div mat-dialog-content>
  <div>Please, enter your account detalies</div>
  <div class="form">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" [formControl]="form.get('email')">
      <mat-error *ngIf="form.get('email').hasError('email') && !form.get('email').hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="form.get('email').hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [formControl]="form.get('password')">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="form.get('password').hasError('pattern') && !form.get('password').hasError('required')">
        Minimum eight characters, at least one letter and one number
      </mat-error>
      <mat-error *ngIf="form.get('password').hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="error">{{errorMessage}}</div>
  <div class="buttons">
    <button mat-raised-button class="button" (click)="login()">Sign In</button>
    <button mat-raised-button mat-dialog-close (click)="goToRegistration()">Go to registration</button>
  </div>
</div>
